{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}

<div class="card m-5">
    <h5 class="card-header">Change Password</h5>
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %} 
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endfor %}
            {% endif %}
            <div class="mb-3">
              <label for="id_old_password" class="form-label">Old Password:</label>
              {% render_field form.old_password placeholder=form.old_password.label class+="form-control" %}
            </div>
            <div class="mb-3">
              <label for="id_new_password1" class="form-label">New Password:</label>
              {% render_field form.new_password1 placeholder=form.new_password1.label class+="form-control" %}
            </div>
            <div class="mb-3">
                <label for="id_new_password2" class="form-label">Confirm New Password:</label>
                {% render_field form.new_password2 placeholder=form.new_password2.label class+="form-control" %}
              </div>
            <input type="submit" value="Change Password" class="btn btn-primary">
            <a href="{% url 'list-entries' %}" class="btn btn-secondary">Back to HomePage</a>
          </form>
    </div>
  </div>

{% endblock %}