{% extends "base.html" %}
{% load static %}

{% block content %}


{% if entries %}
  {% for entry in entries %}
  <div class="card m-4 ">
      <div class="card-header card-title d-flex justify-content-between">
          <div>
              <h4>{{ entry.date_created }}</h4>
          </div>
          <div class="btn-group" role="group" aria-label="Basic example">
              <a href="{% url 'detail-entry' entry.pk %}" class="btn btn-outline-dark"><i class="fa-solid fa-up-right-from-square"></i></a>
              <a href="{% url 'update-entry' entry.pk %}" class="btn btn-outline-dark"><i class="fa-solid fa-pencil"></i></a>
              <button type="button" class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#deleteConformation{{entry.pk}}"><i class="fa-solid fa-trash-can"></i></button>
            </div>
      </div>
      <div class="card-body">
          <h4>
              {{ entry.title }}
          </h4>
        <p class="card-text entry-element">
          {{ entry.content|safe }}
        </p>
      </div>
  </div>

    <!-- Modal for Delete Confirmation -->
    <div class="modal fade" id="deleteConformation{{entry.pk}}" tabindex="-1" aria-labelledby="deleteConformationLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-body">
            <h5 class="modal-title" id="deleteConformationLabel">Are you sure you want to Delete this Entry?</h5>
            
          </div>
          <div class="modal-footer">
            <a href="{% url 'delete-entry' entry.pk %}"><button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Yes</button></a>
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">No</button>
          </div>
        </div>
      </div>
    </div>


  {% endfor %}
{% else %}
<div class="bg-light p-5 rounded m-5">
  <h3 class="display-6">You've no Entries. <a href="{% url 'new-entry' %}">Create one</a> now.</h3>
</div>
{% endif %}

<div class="m-2">
  <a href="{% url 'new-entry' %}" class="btn btn-primary rounded-pill position-fixed bottom-0 end-0 m-4 p-3"> <i class="fa-solid fa-plus"></i>  Create Entry</a>
</div>


  {% if is_paginated %}
    <ul class="pagination mx-4 d-flex justify-content-center">
      {% if page_obj.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
        </li>
      {% else %}
        <li class="page-item disabled">
          <span class="page-link">Previous</span>
        </li>
      {% endif %}
      {% for i in paginator.page_range %}
        {% if page_obj.number == i %}
          <li class="page-item active">
            <span class="page-link">{{ i }}</span>
          </li>
        {% else %}
          <li class="page-item">
            <a class="page-link" href="?page={{ i }}">{{ i }}</a>
          </li>
        {% endif %}
      {% endfor %}
      {% if page_obj.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
        </li>
      {% else %}
        <li class="page-item disabled">
          <span class="page-link">Next</span>
        </li>
      {% endif %}
    </ul>
  {% endif %}


{% endblock content %}